:root {
    font-family: "Poppins", sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10%;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
}

.logo img {
    height: 50px;
}

.nav-links a {
    margin-left: 20px;
    text-decoration: none;
    color: #37436D;
    font-size: 16px;
    transition: color 0.3s ease-in-out;
}

.nav-links a:hover {
    color: #9F00FF;
}

.hero {
    background-color: #37436D;
    text-align: center;
    background-image: linear-gradient(rgba(55, 67, 109, 0.7), rgba(55, 67, 109, 0.7)), url('images/Chloe\ Banner.png');
    background-size: cover;
    background-position: center;
    height: 600px;
    position: relative;
    }


.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    }

.accent {
    color: #9F00FF;
}

.hero a{
    width: 200px;
        height: 60px;
        line-height: 60px;
        border-radius: 3px;
        text-transform: capitalize;
        color: #fff;
        background: #b636ff;
        border: 1px solid #b636ff;
        box-shadow: 0 5px 20px rgba(0, 0, 0, .2);
        transition: 0.3s linear;
        padding: 15px;
        text-decoration: none;
}

.hero h1{
    color: #fff;
        font-size: 54px;
        font-weight: 700;
        text-transform: uppercase;
        line-height: 1.5;
        }

.hero h2 {
    color: #fff;
        font-size: 20px;
        font-weight: 300;
        text-transform: uppercase;
        margin: 30px 0 60px;
        letter-spacing: 1px;
        }

.about-me-content {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;
    gap: 40px;
}
.about-me h2, .projects h2 {
    font-size: 24px;
        font-weight: 600;
        text-transform: uppercase;
        padding: 50px 0;
        border-bottom: 1px solid #e5ebf2;
        text-align: center;
}

.about-me h3{
    font-size: 18px;
        color: #3c4258;
        text-transform: initial;
        line-height: 1.8;
        padding-top: 50px;
}

.about-me p {
    font-size: 16px;
    color: #999fb3;
    padding: 0px 0 43px;
    border-bottom: 1px solid #999fb3;    
}

.about-image {
    max-height: 400px;
    width: auto;
}

.social-icons {
   text-align: center;
}

.social-icons a {
    margin: 0 10px;
    color: #37436D;
}

.project-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 0 4%;
}

.project {
    background-color: #f7f7f7;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.project a{
    text-decoration: none;
    transition: transform 0.3s ease-in-out;
}

.project a:hover {
    transform: scale(1.05);
}


.project img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 15px;
}

.project h3 {
    margin: 10px 0 5px;
    font-size: 20px;
}

.project p {
    text-align: center;
    font-size: 14px;
}


@media screen and (max-width: 768px) {
    .project-container {
        grid-template-columns: 1fr;
    }

    .about-image {
        display: none;
    }
    
    .about-me-content {
        text-align: center;
        gap: 0;
    }

    .about-me h2 {
        padding-bottom: 0px;;
    }
}